<div class="float-start" >
    <div class="row">
      <div class="col">
      </div>
    </div>
    <button class="btn btn-outline-primary mt-4 " (click)="nuevoProyecto()">Inicio</button>
    <button class="btn btn-outline-primary mt-4 " (click)="nuevaPregunta()">Nueva Pregunta</button>
    <button class="btn btn-outline-primary mt-4 " (click)="nuevoMensaje()">Nuevo mensaje</button>
    <button class="btn btn-outline-primary mt-4 " (click)="finProyecto()">Fin</button>
    <button class="btn btn-outline-primary mt-4 " (click)="guardarProyecto()">Guardar</button>
    <!-- <button class="btn btn-outline-primary mt-4" (click)="guardarPagina()" >Guardar</button>
    <button class="btn btn-outline-primary mt-4" (click)="cargarPagina()" >Cargar</button> -->
    <div>
      
    </div>
  </div>
