<div class="px-3 py-2 bg-dark text-white" style="width: auto;">
  <div class="container" style="width: 100%; display: flex; justify-content: space-between ">
    <div style="display: flex ;justify-content:flex-start">
      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <img class="bi me-2" src="../assets/logo-atom.png" alt="">

      </a>
    </div>
    <div style="display: flex ;justify-content:flex-end">
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi d-block mx-auto mb-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                  </svg>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi d-block mx-auto mb-1" viewBox="0 0 16 16">
                    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                </svg>
                Projects
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi d-block mx-auto mb-1" viewBox="0 0 16 16">
                    <path d="M6 9a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3A.5.5 0 0 1 6 9zM3.854 4.146a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2z"/>
                    <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h12z"/>
                  </svg>
                Simulation
              </a>
            </li>
          </ul>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col">
      <button *ngFor="let region of regiones" class="btn btn-outline-primary" 
      style="margin-right: 5px;">
          {{ region }}
      </button>
  </div>
</div> -->

<div class=" principal" style=" display: flex ">
  <div class="float-start" style="height: 300px;">
    <div class="row">
      <div class="col">
        <h1>Ternary</h1>
      </div>
    </div>
    <button class="btn btn-outline-primary mt-4" (click)="agregarPagina()" >Agregar</button>
    <button class="btn btn-outline-primary mt-4" (click)="guardarPagina()" >Guardar</button>
    <button class="btn btn-outline-primary mt-4" (click)="cargarPagina()" >Cargar</button>
  </div>
  <div class="float-end" id="paper" style="width: fit-content;"></div>
  
</div>


