<h2>Editar Elemento</h2>
<hr>

<form #editForm="ngForm">
    <div class="form-group mb-3">
      <label  class="form-label">Pregunta</label>
      <input type="text" 
      class="form-control"
      
      [(ngModel)]="mensaje"
      name="id"
      >
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Respuestas</label>
      <button class="btn btn-outline-primary mt-4 " (click)="agregarSalidas()">+</button>
      <button class="btn btn-outline-primary mt-4 " (click)="eliminarSalidas()">-</button>      

      <input type="text" 
      class="form-control"
       *ngFor="let output of outputs; index as i"
        [(ngModel)]="outputs[i]"
        name="i"
        >
    </div>
    <button class="btn btn-outline-primary mt-4 " (click)="actualizar()">Actualizar</button>
  </form>
