<h2>Edit Page</h2>
<hr>
    
<form [formGroup]="currentData"  *ngIf="this._cell.pageActive"  >

  <div class="form-group" >
      <label class="form-label">Question/Message</label>
      <input formControlName="message" type="text" class="form-control">
  </div>
  <div class="form-group" >
    <label>Answers</label>
    <button type="button" class="btn btn-secondary btn-sm m-2"
    (click)="addAnswer()">Add</button>
    <button type="button" class="btn btn-danger btn-sm m-2"
    (click)="removeAnswer()">Remove</button>
    
    <div *ngIf="updateAnswer">
      <div
      formArrayName="answers" 
      *ngFor="let answer of answers.controls; let i = index" >
          <input type="text" class="form-control my-1" [formControlName]="i" >
      </div>
  </div>
</div>

  <button class="btn btn-primary mt-4" type="submit" (click)="update()" > Update </button>
</form>

  

  